body {
    color: black;
    font-weight: bold;
    font-size: 18px;
    background: #FFFFFF;


}

body::after {
    content: "";
    background-image: url("chatbotGZ.png");
    background-repeat: no-repeat;
    opacity: 0.5;
    top: 10%;
    left: 0%;
    bottom: 0;
    right: 0;
    position: absolute;
    /*z-index: -1;*/
}

span {
    color: black;
}

::-webkit-input-placeholder {
    color: black;
}

#main {
    right: 200px;
    width: 400px;
    border: 0px solid black;
    padding: 40px;
}

#main div {
    margin: 40px;
}

#input {
    padding: 5px;
}

/*.landing {*/
/*    background-image: url("chatbotGZ.png");*/
/*}*/
